@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap);
body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  padding: 0 !important;
}

* {
  box-sizing: border-box;
}

.IconButton {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.IconButton:disabled {
  cursor: default;
}

.IconButton .iconStyle {
  padding: 6px;
  display: block;
  box-sizing: content-box;
}

.iconTooltip {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.2;
  padding: 0.625rem;
  position: absolute;
  text-align: center;
  white-space: pre;
}

.iconTooltip::after {
  content: " ";
  border: 6px solid transparent;
  left: 50%;
  height: 0px;
  width: 0px;
  position: absolute;
  pointer-events: none;
  margin-left: -6px;
}

.iconTooltip.top {
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  margin-top: -44px;
}

.iconTooltip.top::after {
  top: 100%;
  border-top-color: rgba(34, 34, 34, 0.8);
}

.iconTooltip.bottom {
  transform: translateX(-50%);
  left: 50%;
  margin-top: 7px;
}

.iconTooltip.bottom::after {
  bottom: 100%;
  border-bottom-color: rgba(34, 34, 34, 0.8);
}

.iconTooltip.left {
  transform: translate(-100%, -50%);
  margin-left: -6px;
  top: 50%;
}

.iconTooltip.left::after {
  left: auto;
  right: -11px;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: rgba(34, 34, 34, 0.8);
}

.iconTooltip.right {
  transform: translate(100%, -50%);
  top: 50%;
  right: -6px;
  left: auto;
}

.iconTooltip.right:after {
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: rgba(34, 34, 34, 0.8);
}

.iconTooltip.topRight {
  transform: translateX(0);
  left: 0%;
  top: 0;
  margin-top: -44px;
}

.iconTooltip.topRight::after {
  top: 100%;
  border-top-color: rgba(34, 34, 34, 0.8);
  left: 0;
  margin-left: 16px;
}

.iconTooltip.topRight.small::after {
  margin-left: 8px;
}

.iconTooltip.topRight.medium::after {
  margin-left: 12px;
}

.iconTooltip.topLeft {
  transform: none;
  top: 0;
  margin-top: -44px;
  right: 0;
}

.iconTooltip.topLeft::after {
  top: 100%;
  border-top-color: rgba(34, 34, 34, 0.8);
  right: 16px;
  left: auto;
  margin-left: 0;
}

.iconTooltip.topLeft.small::after {
  right: 8px;
}

.iconTooltip.topLeft.medium::after {
  right: 12px;
}

.iconTooltip.bottomRight {
  transform: translateX(0);
  margin-top: 7px;
  left: 0;
}

.iconTooltip.bottomRight::after {
  bottom: 100%;
  border-bottom-color: rgba(34, 34, 34, 0.8);
  left: 0;
  margin-left: 16px;
}

.iconTooltip.bottomRight.small::after {
  margin-left: 7px;
}

.iconTooltip.bottomRight.medium::after {
  margin-left: 11px;
}

.iconTooltip.bottomLeft {
  transform: none;
  margin-top: 7px;
  right: 0;
}

.iconTooltip.bottomLeft::after {
  bottom: 100%;
  border-bottom-color: rgba(34, 34, 34, 0.8);
  right: 16px;
  left: auto;
  margin-left: 0;
}

.iconTooltip.bottomLeft.small::after {
  right: 7px;
}

.iconTooltip.bottomLeft.medium::after {
  right: 12px;
}

.iconTooltipArrow .iconTooltip::after {
  border: none;
}

/**********Icon Css************/
.iconEnabledOnHover:not(.disable):hover {
  background: #C5E0F2;
  border-radius: 25px;
  cursor: pointer;
}

.iconEnabledOnHover:not(.disable):hover ~ .tooltip-Wrappper .iconTooltip {
  display: block;
}

.iconEnabledOnFocus {
  background: #C5E0F2;
  border-radius: 25px;
  padding: 6px;
}

.iconDisabled {
  opacity: 0.3;
  pointer-events: none;
}

.badgeDisplay {
  display: none;
}

.p-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  color: white;
  width: auto;
  position: relative;
  letter-spacing: 0rem;
  border-radius: 50%;
}

.p-badge.badgeStyle {
  min-width: 0.4375rem;
  height: 0.875rem;
  border-radius: 0.4375rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 500;
  padding: 0 0.25rem;
  position: absolute;
  left: 60%;
  top: -10%;
}

.p-badge.smallBadge {
  height: 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 500;
  padding: 0 0.25rem;
  position: absolute;
  left: 50%;
  top: -15%;
  right: auto;
}

.p-badge.largeBadge {
  left: 50%;
  top: -10%;
  min-width: 0.65625rem;
  height: 1.3125rem;
  border-radius: 0.65625rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 500;
  padding: 0 0.375rem;
  position: absolute;
}

.p-badge.Badge-small {
  width: auto;
  height: 0.75rem;
  border-radius: 0.375rem;
  display: inline-block;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: 500;
  padding: 0 0.25rem;
}

.p-badge.Badge-medium {
  width: auto;
  min-width: 0.4375rem;
  height: 0.875rem;
  border-radius: 0.4375rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 500;
  padding: 0 0.25rem;
}

.p-badge.Badge-large {
  width: auto;
  min-width: 0.65625rem;
  height: 1.3125rem;
  border-radius: 0.65625rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  font-weight: 500;
  padding: 0 0.375rem;
}

.Alert-Red {
  background: #DB4D59;
}

.Sky-Blue {
  background: #009BDE;
}

.Sea-Blue {
  background: #002E6D;
}

.Horizon-Blue {
  background: #9ACAEB;
}

.Aqua-Green {
  background: #54BBAB;
}

.Sunray-Yellow {
  background: #FFC627;
}

.Sunset-Orange {
  background: #EE7523;
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=main.9bd43fed.chunk.css.map*/